<div class="update-popup">
  <div
    class="header-popup"
    fxLayout="row"
    fxLayoutAlign="center center">
    <h3>Update one title</h3>

    <fa-icon
      class="close-button"
      (click)="close(true)"
      [icon]="closeIcon">
    </fa-icon>
  </div>

  <form [formGroup]="form" fxLayout="column">
    <mat-form-field>
      <input
        matInput
        formControlName="primaryTitle"
        placeholder="Primary Title"/>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="originalTitle"
        placeholder="Original Title"/>
    </mat-form-field>

    <mat-form-field>
      <input
        type="number"
        matInput
        formControlName="startYear"
        placeholder="Year"/>
    </mat-form-field>

    <mat-form-field>
      <input
        matInput
        formControlName="genres"
        placeholder="Year"/>
    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      [disabled]="!form.dirty"
      (click)="updateTitle()">
      Update Title
    </button>
  </form>
</div>
