<div style="text-align:center">
  <h1>
    IMDB basic title [TSV]
  </h1>
  <h3>
    Search a movie!
  </h3>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <mat-form-field>
    <input
      [formControl]="searchTerms"
      matInput
      placeholder="Title"/>
  </mat-form-field>

  <button
    mat-button
    type="submit"
    (click)="search(searchTerms.value)">
    Search
  </button>
</div>

<app-search-result
  *ngIf="titles$ | async as titles"
  [titles]="titles">

</app-search-result>

<router-outlet></router-outlet>
