<div style="text-align:center">
  <h1>
    IMDB basic title [TSV]
  </h1>
  <h3>
    Search a movie!
  </h3>
</div>

<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center center">

  <mat-form-field>
    <input
      [formControl]="searchTerms"
      matInput
      placeholder="Title"/>
  </mat-form-field>

  <div class="search-button">
    <button
      mat-raised-button
      color="accent"
      type="submit"
      (click)="search(searchTerms.value)">
      Search
    </button>
  </div>
</div>

<div fxLayout="column" fxLayoutAlign="center center">
  <div class="full-width">
    <app-search-result
      (refresh)="search(searchTerms.value)"
      *ngIf="titles$ | async as titles"
      [titles]="titles">
    </app-search-result>
  </div>
</div>


<router-outlet></router-outlet>
